<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/delivery.css"
</head>
<body>
    <form action="/services" method="post">
    <div class="grid">
        <div class="grid-item">
            <div class="card">
                <img src="./pic/electrician.jpg"  class="card-img" alt="electrician">
                <div class="card-content">
                    <h1 class="rome">Electrician</h1>
                    <p class="card-text">
                       We provide you only the contact details of those electricians who are skilled and provide service at affordable price.Please click the below button to see their contact details. 
                    </p>
                    <button class="btn" type="submit" name="electri">
                        Click Me
                    </button>
                </div>
            </div>
        </div>
         <div class="grid-item">
            <div class="card">
                <img src="./pic/plumber.jpg"  class="card-img" alt="plumber">
                <div class="card-content">
                    <h1 class="card-header">Plumber</h1>
                    <p class="card-text">
                       We provide you only the contact details of those Plumbers who are skilled and provide service at affordable price.Please click the below button to see their contact details. 
                    </p>
                    <button class="btn" type="submit" name="plumber">
                        Click Me
                    </button>
                </div>
            </div>
        </div>
         <div class="grid-item">
            <div class="card">
                <img src="./pic/technician.jpg"  class="card-img" alt="technician">
                <div class="card-content">
                    <h1 class="rome">Technician</h1>
                    <p class="card-text">
                       We provide you only the contact details of those technicians who are skilled and provide service at affordable price.Please click the below button to see their contact details. 
                    </p>
                    <button class="btn" type="submit" name="techni">Click Me
                    </button>
                </div>
            </div>
        </div>
    </div>
    <label><h1>To avail the services</h1>&nbsp;<select name="select">
            <option disabled selected>Enter Location</option>
            <option value="Hutton Road">Hutton Road</option>
            <option value="S.B Gorai Road">SB Gorai Road</option>
            <option value="G.T Road">GT Road</option>
            <option value="Asansol">Asansol</option>
        </select></label>
    
    </form>
</body>
</html>