*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.label{
    padding: 2em 0;
    text-align: center;
    justify-content: space-between;
    background-color: aquamarine;
}
td,th{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em 3em;
    text-align: center;
    border-top: 1px solid;
}
.container{
    margin-top: 8em;
    padding-top: 70px;
    max-width: 1044px;
    margin: auto;
    display: flex;
    background-color: beige;
}
.head{
    font-size: 1.5rem;
    font-weight: bolder;
    background-color: aqua;
    
}
.content{
    margin-top: 7em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
table{
    border-spacing: 0px;
    width: 100%;
}
tbody td:hover{
    background-color:wheat ;
}